.button- {
}
.button-warning {
    -fx-background-color: rgba(255, 70, 70, 0.8);
    -fx-text-fill: #fff;
}

.button-success {
    -fx-background-color: rgba(100, 150, 0, 0.8);
    -fx-text-fill: #fff;
}

.button-warning:hover {
    -fx-background-color: #000;
}

/* må ha postfix - for å ikke kollidere
med JavaFX kalenderen .... */
.calendar-grid- {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-opacity: 0.9;
	-fx-border-style: dashed;
	-fx-pref-height: 400px;
	-fx-pref-width: 800px;
    -fx-hgap: 4px;
}


.scroll-pane {
	-fx-pref-height: 400px;
	-fx-pref-width: 820px;
}

.label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
    -fx-padding: 4px;
}

.label-day {
    -fx-font-size: 12px;
	-fx-pref-width: 100px;
	-fx-alignment: center;
}


.time-label {
	-fx-font-family:"Helvetica";
	-fx-font-size: 10;
	-fx-opacity: 0.4;
	-fx-max-height: 100;
	-fx-padding: 8;
}

/* root container */
.root {
    -fx-padding: 24px;
}

/* Felles stil for alle titler på sider */
.label-title {
    -fx-font-size: 40px;
    -fx-font-weight: 200;
    -fx-alignment: top-left;
    -fx-text-fill: #333;
}

/* kan brukes til viktige ting som ikke er tittel*/
.label-subtitle {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-text-fill: #555;
}

.month-label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 40;
}

.week-label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 20;
}

.border-pane {
	-fx-padding: 20px;
}

.meeting-grid {
	-fx-vgap: 10px;
    -fx-hgap: 10px;
}

.meeting-label {
	-fx-pref-width: inherit;
	-fx-padding: 4px;
    -fx-fill-height: true;
}

.meeting-title {
	-fx-padding: 0 0 20px 0;
	-fx-font-size: 36px;
	-fx-alignment: center-left;
	-fx-font-weight:200;
}

/* Boksene som er møtene i kalenderen. */
.meeting-box {
    -fx-padding: 4px;
}

.meeting-box-title {
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.meeting-box-time {
    -fx-font-size: 10px;
    -fx-alignment: center;
    -fx-font-style: italic;
    -fx-text-fill: #fff;
}

.meeting-box-desc {
    -fx-font-size: 10px;
    -fx-text-fill: #fff;
}

.meeting-detail-participants-box {
    -fx-pref-width: 300px;
}

.meeting-detail-hbox {
    -fx-spacing: 20px;
}

.meeting-detail-bottom {
	-fx-padding: 10px 0 0 0;
    -fx-spacing: 20px;
}