
.anchor-pane {
    -fx-background-color:linear-gradient(white,#DDDDDD);
   /*  -fx-background-image: url("../image/background2.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1200, 1000;

	-fx-background-position: center;*/       
}

.grid-pane {
	-fx-background-color: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3,0.0,0,1);
	-fx-border-color: white;
	-fx-opacity: 0.9;
	-fx-border-style: dashed;
}

.label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 15;
}


.time-label {
	-fx-font-family:"Helvetica";
	-fx-font-size: 15;

	-fx-opacity: 0.4;
}

.month-label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 40;
}

.week-label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 20;
}