
.anchor-pane {
    -fx-background-color:linear-gradient(white,#DDDDDD);
}

.calendar-grid {
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-opacity: 0.9;
	-fx-border-style: dashed;
	-fx-pref-height: 400px;
	-fx-pref-width: 800px;
}

.scroll-pane {
	-fx-pref-height: 400px;
	-fx-pref-width: 820px;
}

.label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 15;
}

.label-day {
    -fx-font-size: 12px;
	-fx-pref-width: 100px;
	-fx-alignment: center;
}


.time-label {
	-fx-font-family:"Helvetica";
	-fx-font-size: 10;
	-fx-opacity: 0.4;
	-fx-max-height: 100;
	-fx-padding: 8;
}

.month-label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 40;
}

.week-label {
	-fx-font-family: "Helvetica";
	-fx-font-size: 20;
}

.border-pane {
	-fx-padding: 20px;
}

.meeting-grid {
	-fx-vgap: 10px;
}

.meeting-label {
	-fx-pref-width: inherit;
	-fx-padding: 4px;
    -fx-fill-height: true;
}

.meeting-title {
	-fx-padding: 0 0 20px 0;
	-fx-font-size: 36px;
	-fx-alignment: center-left;
	-fx-font-weight:200;
}

.meeting-box {
    -fx-padding: 4px;
}

.meeting-box:hover {
}

.meeting-box-title {
    -fx-font-size: 12px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.meeting-box-time {
    -fx-font-size: 10px;
    -fx-alignment: center;
    -fx-font-style: italic;
}

.meeting-box-desc {
    -fx-font-size: 10px;
}

